__pycache__
_*
__*
.env
.git
node_modules
venv
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.idea
.vscode
*.log
*.bak
*.tmp
*.env
*.egg-info
dist
build
*.egg
*.log
coverage
htmlcov
*.cover
*.coveragerc
*.ipynb_checkpoints
*.pytest_cache
*.mypy_cache
*.tox
*.nox
*.coverage
*.cache
